.maths-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.maths-card-container {
  width: 300px;
  max-width: 300px;
  box-shadow: 5px 5px 5px #b8d0ff;
  border-radius: 20px;
  margin: 20px;
}

.maths-card-header {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #b8d0ff;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.maths-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.maths-card-text h1,
.maths-card-text p {
  margin: 0.5rem;
  color: #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
}

.maths-submit-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  width: 70%;
  max-width: 200px;
}

.maths-submit-btn {
  background-color: #f9cb5d;
}

.maths-submit-btn:hover {
  background-color: #c59d3d;
}

.maths-submit-btn:active {
  transform: scale(0.98);
}

.maths-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maths-form-input {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  width: 100%;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.maths-results-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.maths-results-container {
  width: 600px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.maths-result-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  align-self: center;
  width: 100%;
  padding: 0;
}

.maths-results-section {
  padding: 15px 0;
  border-top: 1px solid #eaeaea;
}

.maths-results-section h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px;
}

.maths-results-section p {
  margin: 0;
  font-weight: 500;
  color: #6b6b6b;
}
