.spelling-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.spelling-card-container {
  width: 400px;
  max-width: 400px;
  box-shadow: 5px 5px 5px #b8d0ff;
  border-radius: 20px;
  margin: 20px;
}

.spelling-card-header {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #b8d0ff;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.spelling-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.spelling-card-text h1,
.spelling-card-text p {
  margin: 0.5rem;
  color: #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
}

.spelling-next-word-btn,
.spelling-attempt-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  width: 70%;
  max-width: 200px;
}

.spelling-next-word-btn {
  background-color: #f9cb5d;
}

.spelling-next-word-btn:hover {
  background-color: #c59d3d;
}

.spelling-next-word-btn:active {
  transform: scale(0.98);
}

.spelling-attempt-btn {
  background-color: #c476b9;
}

.spelling-attempt-btn:hover {
  background-color: #b05c9d;
}

.spelling-attempt-btn:active {
  transform: scale(0.98);
}

.spelling-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spelling-form-input {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

.spelling-results-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
/* 
.spelling-results-container-outline {
  padding: 10px;
  border: 1px solid #8e8e8e56;
  border-radius: 10px;
} */
.spelling-results-container {
  width: 600px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.spelling-result-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  align-self: center;
  width: 100%;
  padding: 0;
}

.spelling-results-section {
  padding: 15px 0;
  border-top: 1px solid #eaeaea;
}

.spelling-results-section h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px;
}

.spelling-results-section p {
  margin: 0;
  font-weight: 500;
  color: #6b6b6b;
}

.spelling-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove top border for the first section */
.report-section:first-of-type {
  border-top: none;
}

.accordion-item {
  width: 100%;
  margin: 5px 0;
  text-decoration: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-status {
  display: flex;
  flex-direction: row;
  flex-flow: column;
  width: 100%;
  text-align: left;
}

.accordion-header:hover {
  background-color: #ebebeb85;
}

.accordion-icon {
  transition: transform 0.3s;
}

.accordion-icon.open {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 10px;
  border: 1px solid #eaeaea;
  margin-top: 5px;
  border-radius: 5px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .spelling-page-title {
    font-size: 1.5rem;
  }

  .spelling-card-container {
    width: 100%;
  }

  .spelling-next-word-btn,
  .spelling-attempt-btn {
    padding: 8px 16px;
  }

  .spelling-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 655px) {
  .spelling-results-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .spelling-page-title {
    font-size: 1.2rem;
  }

  .spelling-ard-header {
    font-size: 1.25rem;
  }

  .spelling-form-input {
    font-size: 1.2rem;
  }
}
